Marketing Automation/eduexpress-brain-ingest.json
{
  "name": "EduExpress Brain Ingest (Drive -> CRM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                0
              ],
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "node-sched",
      "name": "Every Sunday 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "('1gBY_6WHR_pAgYXYTes_BdCwfteozWtjI' in parents or '1SiPJ5xz52WKI1rSIqgWy6XtfxhR479e0' in parents or '1JxqISB-1K4dnmH1PMIo_UgYzfvvPPe9J' in parents or '11GKOLxnNo5wyUZ0C3_TKMrn1WXx9n1-w' in parents or '19h9gS9t28ANrucwtFf80tT25aXDySZK_' in parents or '19m0Tb3DgTjNDFLoqSCy_KoSWwZ5dOX_F' in parents or '1uHMzRdvNjbXPVUgQxtCyoFEkkjuXPAYF' in parents) and trashed = false and mimeType = 'application/vnd.google-apps.document'",
        "returnAll": true,
        "options": {}
      },
      "id": "node-list",
      "name": "List brain Docs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          },
          "binaryPropertyName": "data"
        }
      },
      "id": "node-dl",
      "name": "Download as text",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// BRAIN INGEST — condense Drive docs (Google Docs exported to text by the upstream node)\n// into CRM kb_universities / kb_scholarships / kb_sources. Idempotent (skips existing by name/topic).\nconst ENV  = {};\nconst BASE = (ENV.CRM_BASE || 'https://crm.eduexpressint.com').replace(/\\/$/, '');\nconst CKEY = ENV.CRM_KEY  || 'eduexpress-n8n-2024';\nconst CH = { 'Content-Type':'application/json', 'x-api-key': CKEY };\nconst doHttp = (o) => this.helpers.httpRequest(Object.assign({ timeout: 60000 }, o));\nasync function cget(p)    { return await doHttp({ method:'GET',  url: BASE + '/api/marketing/' + p, headers: CH, json:true }); }\nasync function cpost(p,b) { return await doHttp({ method:'POST', url: BASE + '/api/marketing/' + p, headers: CH, body: b, json:true }); }\nconst TODAY = new Date().toISOString().slice(0,10);\nconst sleep = (ms)=>new Promise(r=>setTimeout(r,ms));\n\n// 1) Build a corpus from the text files handed in by the upstream Google Drive \"Download\" node.\nconst items = $input.all();\nlet corpus = '';\nfor (let i = 0; i < items.length; i++) {\n  try {\n    const buf = await this.helpers.getBinaryDataBuffer(i, 'data');\n    const name = (items[i].json && (items[i].json.name || items[i].json.title)) || ('doc' + i);\n    corpus += '\\n\\n===== ' + name + ' =====\\n' + buf.toString('utf8');\n  } catch (e) { /* skip unreadable item */ }\n}\ncorpus = corpus.slice(0, 60000); // cap to keep tokens sane\nif (!corpus.trim()) return [{ json: { ok:false, note:'No readable text from Drive. Check the Google Drive nodes return Google Docs exported to text/plain.' } }];\n\n// 2) Ask the model to extract structured rows.\nconst prompt =\n'You are a data extractor for EduExpress (Bangladesh study-abroad). From the REFERENCE TEXT, extract ONLY clearly-stated facts into JSON.\\n' +\n'Return ONLY: {\"universities\":[{\"name\":\"\",\"country\":\"\",\"city\":\"\",\"programs\":\"\",\"tuition\":\"\",\"lang_req\":\"\",\"notes\":\"\"}],' +\n'\"scholarships\":[{\"name\":\"\",\"country\":\"\",\"type\":\"University|Self-paid|Study & Work|Pathway\",\"coverage\":\"\",\"eligibility\":\"\",\"deadline\":\"\",\"notes\":\"\"}],' +\n'\"sources\":[{\"topic\":\"\",\"source_type\":\"positioning|reference|voice_example\",\"use_for\":\"\",\"notes\":\"\"}]}\\n' +\n'Rules: do NOT invent numbers; copy figures exactly; skip anything not clearly stated; keep notes short. No markdown, no commentary.\\n\\n' +\n'REFERENCE TEXT:\\n' + corpus;\n\n// 3) LLM call (OpenCode Go first, then your other keys) — paste keys below.\nconst KEYS = [\n  // { key:'PASTE_OPENCODE_GO_KEY', provider:'opencode-go', model:'glm-5.1' },\n  // 'AQ.your-gemini-key',\n];\nif (KEYS.length === 0) throw new Error('Paste at least one model key into the KEYS array in this node.');\nfunction providerFor(k){ if(/^AIza/.test(k))return{provider:'gemini',model:'gemini-2.0-flash'}; if(/^AQ\\./.test(k))return{provider:'gemini',model:'gemini-2.0-flash'}; if(/^gsk_/.test(k))return{provider:'groq',model:'llama-3.3-70b-versatile'}; if(/^sk-or-/.test(k))return{provider:'openrouter',model:'meta-llama/llama-3.1-8b-instruct'}; if(/^sk-/.test(k))return{provider:'openai',model:'gpt-4o-mini'}; return{provider:'gemini',model:'gemini-2.0-flash'}; }\nconst ENTRIES = KEYS.map(e => typeof e==='string' ? Object.assign({key:e,base:null}, providerFor(e)) : Object.assign({base:null}, providerFor(e.key||''), e));\nfunction prio(p){ return p==='opencode-go'?0 : p==='opencode'?1 : 9; }\nENTRIES.sort((a,b)=>prio(a.provider)-prio(b.provider));\nasync function callGemini(model,key,p){ const j=await doHttp({method:'POST',url:'https://generativelanguage.googleapis.com/v1beta/models/'+model+':generateContent?key='+key,headers:{'Content-Type':'application/json'},body:{contents:[{parts:[{text:p}]}],generationConfig:{temperature:0.2,maxOutputTokens:8192,responseMimeType:'application/json'}},json:true}); const c=j&&j.candidates&&j.candidates[0]; const t=(c&&c.content&&c.content.parts&&c.content.parts.map(x=>x.text||'').join(''))||''; if(!t) throw new Error('empty gemini'); return t; }\nasync function callOAI(provider,model,key,p,base){ const bases={groq:'https://api.groq.com/openai/v1',openrouter:'https://openrouter.ai/api/v1',openai:'https://api.openai.com/v1',opencode:'https://opencode.ai/zen/v1','opencode-go':'https://opencode.ai/zen/go/v1'}; const b=base||bases[provider]||bases.openai; const j=await doHttp({method:'POST',url:b+'/chat/completions',headers:{'Content-Type':'application/json','Authorization':'Bearer '+key},body:{model,messages:[{role:'user',content:p}],temperature:0.2,max_tokens:8000},json:true}); return (j&&j.choices&&j.choices[0]&&j.choices[0].message&&j.choices[0].message.content)||''; }\nlet raw=null,used='',errors=[];\nfor (let idx=0; idx<ENTRIES.length && raw==null; idx++){ const e=ENTRIES[idx];\n  try { raw = e.provider==='gemini' ? await callGemini(e.model,e.key,prompt) : await callOAI(e.provider,e.model,e.key,prompt,e.base); used=e.provider+':'+e.model; }\n  catch (err){ errors.push(e.provider+' '+(err&&err.message||err)); await sleep(800); } }\nif (raw==null) throw new Error('All model keys failed: '+errors.slice(-4).join(' | '));\n\n// 4) Parse JSON object (salvage braces).\nfunction parseObj(t){ let s=String(t).trim().split('```').join(''); if(s.slice(0,4).toLowerCase()==='json')s=s.slice(4); const a=s.indexOf('{'),b=s.lastIndexOf('}'); s=(a>=0&&b>a)?s.slice(a,b+1):s; return JSON.parse(s); }\nlet data; try { data = parseObj(raw); } catch(e){ throw new Error('Parse failed ('+e.message+') model='+used+' head='+String(raw).slice(0,160)); }\n\n// 5) Upsert into CRM (idempotent by name/topic).\nasync function upsert(path, key, rows, mapFn){\n  if(!Array.isArray(rows)||!rows.length) return {added:0,skipped:0};\n  let have=new Set(); try{ const ex=await cget(path); have=new Set((ex||[]).map(r=>String(r[key]||'').trim().toLowerCase())); }catch(e){}\n  let added=0,skipped=0;\n  for(const r of rows){ const id=String(r[key]||'').trim().toLowerCase(); if(!id||have.has(id)){skipped++;continue;}\n    try{ await cpost(path, mapFn(r)); have.add(id); added++; }catch(e){} }\n  return {added,skipped};\n}\nconst u = await upsert('kb/universities','name', data.universities, r=>({name:r.name,country:r.country||'',city:r.city||'',programs:r.programs||'',intakes:'2026',tuition:r.tuition||'',lang_req:r.lang_req||'',admission_url:'',brochure_url:'',partner:1,notes:r.notes||'',last_verified:TODAY}));\nconst s = await upsert('kb/scholarships','name', data.scholarships, r=>({name:r.name,country:r.country||'',type:r.type||'',coverage:r.coverage||'',eligibility:r.eligibility||'',deadline:r.deadline||'',source_url:'',status:'active',last_verified:TODAY,notes:r.notes||''}));\nconst c = await upsert('kb/sources','topic', data.sources, r=>({topic:r.topic,url:'',source_type:r.source_type||'reference',use_for:r.use_for||'',date_added:TODAY,notes:r.notes||''}));\n\nreturn [{ json: { ok:true, used_model:used, docs_read:items.length, universities:u, scholarships:s, sources:c } }];\n"
      },
      "id": "node-code",
      "name": "Condense & upsert to CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    }
  ],
  "connections": {
    "Every Sunday 02:00": {
      "main": [
        [
          {
            "node": "List brain Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List brain Docs": {
      "main": [
        [
          {
            "node": "Download as text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download as text": {
      "main": [
        [
          {
            "node": "Condense & upsert to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}