Marketing Automation/eduexpress-research-engine.json
{
  "name": "EduExpress — Research Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtHour": 2
            }
          ]
        }
      },
      "name": "Schedule: Every 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.facebook.com/ads/library/api/?search_terms=study%20abroad%20bangladesh&active_status=active&ad_type=all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.META_AD_LIBRARY_TOKEN }}" }
          ]
        }
      },
      "name": "Meta Ad Library Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.facebook.com/v18.0/search?q=study%20abroad%20bangladesh%20scholarship&type=page&fields=name,fan_count,verification_status",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{ $credentials.facebookGraphApi.access_token }}" }
          ]
        }
      },
      "name": "Competitor Page Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CRM_BASE || 'https://crm.eduexpressint.com' }}/api/marketing/competitors",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CRM_KEY || 'eduexpress-n8n-2024' }}" }
          ]
        }
      },
      "name": "Get Existing Intel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 340]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash",
        "options": {
          "temperature": 0.7
        },
        "messages": [
          {
            "role": "user",
            "content": "You are the Social Media Research Engine for EduExpress International, a Bangladesh study-abroad consultancy.\n\nAnalyze the following competitor data and market signals, then output a JSON array of NEW research_intelligence findings.\n\nRules:\n- Only output findings that are NEW (not already in the existing intel list).\n- Focus on: competitor moves, market gaps, viral signals, policy changes, psych insights.\n- Urgency: critical (time-sensitive), high (important), normal (routine), low (background).\n- Each finding must have: topic, category, insight_summary, recommended_angle, urgency.\n- If a competitor is named, include it.\n- Source type should be one of: meta_ad_library, competitor_page, news, trend_platform.\n\nCompetitor Ad Library Data: {{ JSON.stringify($json.data || {}) }}\nCompetitor Pages: {{ JSON.stringify($json.data || {}) }}\n\nExisting Intel (don't duplicate): {{ JSON.stringify($json.existing || []) }}\n\nOutput ONLY a JSON array. No markdown."
          }
        ]
      },
      "name": "Gemini: Analyze & Find",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.4,
      "position": [860, 340]
    },
    {
      "parameters": {
        "jsCode": "const findings = $input.first().json;
if (!Array.isArray(findings) || findings.length === 0) {
  return [{ json: { message: 'No new findings', count: 0 } }];
}
// Map to CRM format
const mapped = findings.map(f => ({
  json: {
    topic: f.topic || 'Untitled finding',
    category: f.category || 'market_gap',
    source_type: f.source_type || 'competitor_page',
    insight_summary: f.insight_summary || '',
    recommended_angle: f.recommended_angle || '',
    urgency: f.urgency || 'normal',
    competitor: f.competitor || null,
    evidence: JSON.stringify(f.evidence || []),
    source_url: f.source_url || null
  }
}));
return mapped;"
      },
      "name": "Map to CRM Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_BASE || 'https://crm.eduexpressint.com' }}/api/marketing/research",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CRM_KEY || 'eduexpress-n8n-2024' }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "topic", "value": "={{ $json.topic }}" },
            { "name": "category", "value": "={{ $json.category }}" },
            { "name": "source_type", "value": "={{ $json.source_type }}" },
            { "name": "insight_summary", "value": "={{ $json.insight_summary }}" },
            { "name": "recommended_angle", "value": "={{ $json.recommended_angle }}" },
            { "name": "urgency", "value": "={{ $json.urgency }}" },
            { "name": "competitor", "value": "={{ $json.competitor }}" },
            { "name": "evidence", "value": "={{ $json.evidence }}" },
            { "name": "source_url", "value": "={{ $json.source_url }}" }
          ]
        }
      },
      "name": "Save to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TELEGRAM_BOT_WEBHOOK || 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "text", "value": "🔬 Research Engine Alert\n\nNew findings: {{ $json.length || 0 }}\n\nTop urgency: {{ $json[0]?.urgency || 'none' }}\nTopic: {{ $json[0]?.topic || 'N/A' }}\nAngle: {{ $json[0]?.recommended_angle || 'N/A' }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        }
      },
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 340]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Dhaka"
  },
  "staticData": null,
  "tags": [],
  "connections": {
    "Schedule: Every 6h": {
      "main": [
        [{ "node": "Meta Ad Library Scan", "type": "main", "index": 0 }],
        [{ "node": "Competitor Page Scan", "type": "main", "index": 0 }],
        [{ "node": "Get Existing Intel", "type": "main", "index": 0 }]
      ]
    },
    "Meta Ad Library Scan": {
      "main": [[{ "node": "Gemini: Analyze & Find", "type": "main", "index": 0 }]]
    },
    "Competitor Page Scan": {
      "main": [[{ "node": "Gemini: Analyze & Find", "type": "main", "index": 0 }]]
    },
    "Get Existing Intel": {
      "main": [[{ "node": "Gemini: Analyze & Find", "type": "main", "index": 0 }]]
    },
    "Gemini: Analyze & Find": {
      "main": [[{ "node": "Map to CRM Format", "type": "main", "index": 0 }]]
    },
    "Map to CRM Format": {
      "main": [[{ "node": "Save to CRM", "type": "main", "index": 0 }]]
    },
    "Save to CRM": {
      "main": [[{ "node": "Telegram Alert", "type": "main", "index": 0 }]]
    }
  }
}
