Marketing Automation/n8n-ai-welcome-bot.json
{
  "name": "EduExpress – AI Welcome Message Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eduexpress-welcome",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "edx-node-001",
      "name": "📨 New Message from CRM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "eduexpress-welcome-v1"
    },
    {
      "parameters": {
        "jsCode": "// ── Pull incoming data from CRM ─────────────────────────────\nconst body = $input.first().json.body || $input.first().json;\nconst platform    = body.platform    || 'whatsapp';\nconst senderName  = body.senderName  || 'ভাই/আপু';\nconst msgText     = body.messageText || 'New inquiry';\nconst convId      = body.conversationId;\n\n// ── WhatsApp contact number (update this!) ───────────────────\nconst WHATSAPP_NUMBER = '+8801983333566';\n\n// ── Gemini prompt ────────────────────────────────────────────\nconst prompt = `You are an AI assistant for EduExpress International, \na study abroad consultancy in Dhaka, Bangladesh (Dhanmondi). \nWe help students study in China, South Korea, UK, Hungary and more.\n\nA new inquiry arrived via ${platform}. \nWrite a warm, professional welcome message PRIMARILY IN BANGLA \n(use English only for program names, country names, and key terms).\n\nSender name: ${senderName}\nTheir message: \"${msgText}\"\n\nYour message MUST include ALL of the following:\n1. Warm Bangla greeting with their name\n2. Welcome to EduExpress International\n3. Exciting news line (copy exactly): \"🎓 September Intake খোলা আছে! Diploma, Bachelor এবং Language Program-এ সীমিত আসন বাকি আছে। দ্রুত যোগাযোগ করুন!\"\n4. Ask which country or program they are interested in\n5. Contact line: \"সরাসরি WhatsApp করুন: ${WHATSAPP_NUMBER}\"\n6. Keep under 150 words total, use 2-3 emojis, friendly & professional tone\n\nReturn ONLY the message text — no extra commentary or labels.`;\n\nreturn [{ json: {\n  conversationId: convId,\n  platform,\n  senderName,\n  geminiBodyStr: JSON.stringify({\n    contents: [{ parts: [{ text: prompt }] }]\n  })\n}}];"
      },
      "id": "edx-node-002",
      "name": "🧠 Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.geminiBodyStr }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "edx-node-003",
      "name": "🤖 Gemini AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Extract Gemini's reply ────────────────────────────────────\nconst geminiResp  = $input.first().json;\nconst prev        = $('🧠 Build Gemini Prompt').first().json;\n\nconst aiMessage   = geminiResp?.candidates?.[0]?.content?.parts?.[0]?.text?.trim();\n\n// Fallback if Gemini fails or returns empty\nconst WHATSAPP_NUMBER = '+8801983333566';\nconst fallback = `আস্সালামু আলাইকুম ${prev.senderName || ''}! 🎓\\n\\nEduExpress International-এ আপনাকে স্বাগতম!\\n\\n🎓 September Intake খোলা আছে! Diploma, Bachelor এবং Language Program-এ সীমিত আসন বাকি আছে। দ্রুত যোগাযোগ করুন!\\n\\nআপনি কোন দেশে বা কোন Program-এ পড়তে আগ্রহী? আমরা আপনাকে সঠিক guidance দিতে প্রস্তুত! 😊\\n\\nসরাসরি WhatsApp করুন: ${WHATSAPP_NUMBER}`;\n\nreturn [{ json: {\n  conversationId: prev.conversationId,\n  welcomeMessage: aiMessage || fallback,\n  platform: prev.platform\n}}];"
      },
      "id": "edx-node-004",
      "name": "📝 Extract AI Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://crm.eduexpressint.com/api/conversations/' + $json.conversationId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key",    "value": "eduexpress-n8n-2024" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ content: $json.welcomeMessage, type: 'text', sent_by: 'AI Bot 🤖' }) }}",
        "options": {}
      },
      "id": "edx-node-005",
      "name": "✉️ Send via CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "📨 New Message from CRM": {
      "main": [[ { "node": "🧠 Build Gemini Prompt", "type": "main", "index": 0 } ]]
    },
    "🧠 Build Gemini Prompt": {
      "main": [[ { "node": "🤖 Gemini AI",           "type": "main", "index": 0 } ]]
    },
    "🤖 Gemini AI": {
      "main": [[ { "node": "📝 Extract AI Message",  "type": "main", "index": 0 } ]]
    },
    "📝 Extract AI Message": {
      "main": [[ { "node": "✉️ Send via CRM",        "type": "main", "index": 0 } ]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "edx-ai-welcome-v1"
}
