Marketing Automation/n8n-publishing-engine.json
{
  "name": "EduExpress — Publishing Engine v2 (Polling)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2,
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://crm.eduexpressint.com/api/marketing/publish/n8n-config",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "eduexpress-n8n-2024" }
          ]
        }
      },
      "id": "get-config",
      "name": "Get CRM Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://crm.eduexpressint.com/api/marketing/posts/due",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "eduexpress-n8n-2024" }
          ]
        }
      },
      "id": "get-posts",
      "name": "Get Due Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// Combine config + posts into one payload\nconst config = $input.all()[0].json;\nconst posts = $input.all()[1].json;\nif (!Array.isArray(posts) || posts.length === 0) {\n  return [{ json: { hasPosts: false, message: 'No posts due for publishing' } }];\n}\nreturn [{ json: { hasPosts: true, config, posts } }];"
      },
      "id": "merge",
      "name": "Merge Config + Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-posts",
              "leftValue": "={{ $json.hasPosts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-posts",
      "name": "Has Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst posts = payload.posts;\nconst config = payload.config;\nconst pageIds = config?.facebook?.page_ids || {};\nconst token = config?.facebook?.page_access_token || '';\n\n// Build items for batch processing\nconst items = posts.map(p => ({\n  json: {\n    postId: p.id,\n    page: p.page || 'bd',\n    pageId: pageIds[p.page || 'bd'] || '',\n    token: token,\n    body: p.body || '',\n    hashtags: p.hashtags || '',\n    cta: p.cta || '',\n    assetUrl: p.asset_url || null,\n    hasAsset: !!(p.asset_url),\n    hook: p.hook || '',\n    crmBase: 'https://crm.eduexpressint.com',\n    crmKey: 'eduexpress-n8n-2024'\n  }\n}));\nreturn items;"
      },
      "id": "prep-items",
      "name": "Prepare Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-asset",
              "leftValue": "={{ $json.hasAsset }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-asset",
      "name": "Has Asset?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1640, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v19.0/' + $json.pageId + '/photos' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "url", "value": "={{ $json.assetUrl }}" },
            { "name": "message", "value": "={{ $json.body + '\n\n' + $json.hashtags + '\n\n' + ($json.cta ? $json.cta : '') }}" },
            { "name": "access_token", "value": "={{ $json.token }}" }
          ]
        }
      },
      "id": "fb-photo",
      "name": "FB Photo Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v19.0/' + $json.pageId + '/feed' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $json.body + '\n\n' + $json.hashtags + '\n\n' + ($json.cta ? $json.cta : '') }}" },
            { "name": "access_token", "value": "={{ $json.token }}" }
          ]
        }
      },
      "id": "fb-text",
      "name": "FB Text Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 340]
    },
    {
      "parameters": {
        "jsCode": "const fb = $input.first().json;\nconst post = $input.all()[0]?.json;\nconst success = !!fb.id;\nconst postId = post?.postId || $input.all()[0]?.json?.postId;\nconst page = post?.page || $input.all()[0]?.json?.page;\nconst crmBase = post?.crmBase || $input.all()[0]?.json?.crmBase;\nconst crmKey = post?.crmKey || $input.all()[0]?.json?.crmKey;\n\nreturn [{\n  json: {\n    success: success,\n    postId: postId,\n    platformPostId: fb.id || null,\n    publishUrl: fb.id ? `https://facebook.com/${fb.id}` : null,\n    error: success ? null : (fb.error?.message || 'Unknown publish error'),\n    page: page,\n    platform: 'facebook',\n    crmBase: crmBase,\n    crmKey: crmKey\n  }\n}];"
      },
      "id": "build-result",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.crmBase + '/api/marketing/publish/webhook' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.crmKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "postId", "value": "={{ $json.postId }}" },
            { "name": "success", "value": "={{ $json.success }}" },
            { "name": "platformPostId", "value": "={{ $json.platformPostId }}" },
            { "name": "publishUrl", "value": "={{ $json.publishUrl }}" },
            { "name": "error", "value": "={{ $json.error }}" },
            { "name": "platform", "value": "={{ $json.platform }}" },
            { "name": "page", "value": "={{ $json.page }}" }
          ]
        }
      },
      "id": "callback-crm",
      "name": "Callback CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 300]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2240, 500]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: 'No posts due for publishing at this time' } }];"
      },
      "id": "no-posts",
      "name": "No Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 500]
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Dhaka",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": ["eduexpress", "publishing", "meta", "polling"],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get CRM Config", "type": "main", "index": 0 }]]
    },
    "Get CRM Config": {
      "main": [[{ "node": "Get Due Posts", "type": "main", "index": 0 }]]
    },
    "Get Due Posts": {
      "main": [[{ "node": "Merge Config + Posts", "type": "main", "index": 0 }]]
    },
    "Merge Config + Posts": {
      "main": [[{ "node": "Has Posts?", "type": "main", "index": 0 }]]
    },
    "Has Posts?": {
      "main": [
        [{ "node": "Prepare Items", "type": "main", "index": 0 }],
        [{ "node": "No Posts", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Items": {
      "main": [[{ "node": "Loop Posts", "type": "main", "index": 0 }]]
    },
    "Loop Posts": {
      "main": [
        [{ "node": "Has Asset?", "type": "main", "index": 0 }],
        [{ "node": "Wait 1s", "type": "main", "index": 0 }]
      ]
    },
    "Has Asset?": {
      "main": [
        [{ "node": "FB Photo Post", "type": "main", "index": 0 }],
        [{ "node": "FB Text Post", "type": "main", "index": 0 }]
      ]
    },
    "FB Photo Post": {
      "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]]
    },
    "FB Text Post": {
      "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]]
    },
    "Build Result": {
      "main": [[{ "node": "Callback CRM", "type": "main", "index": 0 }]]
    }
  }
}